$FULL               : 100%;
$HALF               : 50%;

$MARGIN_AUTO        : 0 auto;

$FIRST_COLOR         : #5d5d5d;
$SECOND-COLOR       : #585858;
$FONT_SIZE          : toRem( 16px );
$FONT_FAMILY        : 'Poppins', sans-serif;
$FONT_LIGHT         : 200;
$FONT_MEDIUM        : 500;
